.hero-nav-title {
    color: red;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.hero-carousel-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.hero-carousel-para {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.hero-course-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.hero-course-para {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.hero-button {
    color: white;
    background-color: RED;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-button:hover {
    color: black;
    background-color: white;
    border: 2px solid red;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
}